[
 %% Artifice config
 {artifice, [
   %% Simulation time multiplier. Use with caution.
   {simulation_rate, 1},
   %% Maximum energy level for creatures.
   {max_energy, 1000},
   %% Initial energy for newly spawned creatures.
   {initial_energy, 1000},
   %% Table of action-energy cost pairs.
   {energy_costs, [
       {ambient, 1}, % Cost when doing nothing at all
       {move, 2},    % Cost when moving a single step
       {mate, 300},  % Cost for mating with another individual
       {fight, 250}  % Damage inflicted to self or other when fighting
   ]},
   %% Amount of energy gained when eating food.
   {food_energy, 250}, 
   %% Initial food for newly spawned chunks
   {initial_food, 128},
   %% Spawn food timer.
   {spawn_food_rate, 5000},
   %% Make creatures that move off the edge of their spawn chunk wrap around
   {wrap_spawn_chunk, true},
   %% Cooldown in seconds between mating attempts
   {mating_cooldown, 10},
   %% Probability for mutation in conjunction with crossover.
   {mutation_rate, 0.1}
 ]},

 %% SASL config
 {sasl, [
   {sasl_error_logger, {file, "log/sasl-error.log"}},
   {errlog_type, error},
   {error_logger_mf_dir, "log/sasl"},      % Log directory
   {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
   {error_logger_mf_maxfiles, 5}           % 5 files max
 ]}
].
