[
 %% Artifice config
 {artifice, [
   %% Simulation time multiplier. Use with caution.
   {simulation_rate, 1},
   %% Initial energy for newly spawned creatures.
   {initial_energy, 1000},
   %% Table of action-energy cost pairs.
   {energy_costs, [
       {ambient, 1}, % Cost when doing nothing at all
       {move, 2}     % Cost when moving a single step
   ]}
 ]},

 %% SASL config
 {sasl, [
   {sasl_error_logger, {file, "log/sasl-error.log"}},
   {errlog_type, error},
   {error_logger_mf_dir, "log/sasl"},      % Log directory
   {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
   {error_logger_mf_maxfiles, 5}           % 5 files max
 ]}
].

